body{
	margin:0;
}
.content-area {
	width: 1100px;
	margin: 0px auto;
	border: 1px solid #d8e8f5;
	margin-top: 50px;
	border-radius: 25px;
	min-height: 768px;
	background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #4587c1 50%, #4587c1 100%);
	font-family: 'Roboto', sans-serif !important;
}

.content {
	margin-bottom: 6%;
	position: relative;
}

.child-container {
	width: 32%;
	float: right;
	padding-right: 5px;
	color: white;
	margin-top: -321px;
}

.logo1 {
	width: 250px;
	margin: 20px;
}

.circle {
	float: left;
	width: 25%;
}

.h3 {
	display: block;
	color: #888383;
	/* margin-left: 34%; */
	font-size: 19px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 100;
	text-align: center;
	margin: 25px 0;
	margin-bottom: 15px;
}

.pointer {
	width: 10%;
	border-top: #f9757e solid 1px;
	margin-top: -12px;
	padding-bottom: 15px;
	margin: auto;
}

.login {
	float: none;
	box-shadow: 0 11px 32px 10px rgba(0,0,0,.15);
	background: #fff;
	border-radius: 14px;
	margin: 0px auto;
	position: relative;
	box-sizing: border-box;
	padding: 5% 5% 2% 5%;
	width: 38%;
	height: auto;
	z-index: 99;
	/*box-shadow: 1px 1px 5px 3px rgba(0,0,0,.1);*/
}


.forgot {
	float: none;
	box-shadow: 0 11px 32px 10px rgba(0,0,0,.15);
	background: #fff;
	border-radius: 14px;
	margin: 0px auto;
	position: relative;
	box-sizing: border-box;
	padding: 1% 5%;
	width: 38%;
	height: auto;
	z-index: 99;
}

.errmsg {
	color:red;
	font-size:11px;
	padding-bottom:8px;
}

 .pwd {
	outline: none;
	padding: 6px 15px 6px 6px;
	z-index: 999;
	border: none;
	width: 96%;
	border-bottom: 1px solid #AAA;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
	margin-bottom: 16px;
	background: #FFFFFF url('../i/password.png') no-repeat center right;
}

.usernm {
	outline: none;
	padding: 0px 15px 6px 6px;
	z-index: 999;
	border: none;
	width: 96%;
	border-bottom: 1px solid #AAA;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
	margin-bottom: 16px;
	background: #FFFFFF url('../i/email.png') no-repeat center right;
}

.captcha {
	outline: none;
	padding: 6px 28px 6px 6px;
	z-index: 999;
	border: none;
	width: 48%;
	border-bottom: 1px solid #AAA;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
	margin-bottom: 0px;
	/* margin-top: -20px; */
	margin-right: -70px;
}

.login_btn, .signup_btn {
	display: block;
	width: 100%;
	height: 35px;
	/*padding-left: 20px;*/
	margin: 0px auto;
	margin-top: 5%;
	text-align:center;
	background: #4587c1;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	cursor:pointer;
}

.signup_btn {
	background: #f3f5f7;
	color: #1689f4;
}

.signup_btn:hover{
	background: #f2f3f2;
}
.login_btn:hover{
	background: #4e90ca;
}

/* yui-button overrides for ace:linkButton */
.login_btn .yui-button,
.login_btn .yui-button a,
.signup_btn .yui-button,
.signup_btn .yui-button a,
.login_btn .yui-button .first-child,
.signup_btn .yui-button .first-child {
	color:#fff;
	text-decoration: none !important;
	height: 100%;
	width: 100%;
}

.signup_btn .yui-button,
.signup_btn .yui-button a {
	color:#1689f4;
}

.login_btn .yui-button a,
.signup_btn .yui-button a {
	padding-top:8px;
}

.new-for-ttc {
	color: #66a3ff;
	text-align: center;
}

.col {
	color: #e1dede94;
	overflow: hidden;
	text-overflow: clip;
	font-size: 11px;
	margin-top: -4%;
}

.create-new-account {
	font-size: 14px;
	margin: 0px;
	color: #9ca4ab;
	font-family: sans-serif;
}

.explain {
	color:#606060;
	margin-top:2em;
	line-height: 18px;
	font-size:13px;
	font-weight:700
}


@media only screen and (max-width: 991px) {
	.content-area {
		width: 84%;
		margin-left: 3%;
		margin: 0px auto;
		border: none;
		background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #ffffff 50%, #ffffff 100%);
	}

	.logo1 {
		width: 100%;
		margin: 0px auto;
	}

	.login, .forgot {
		float: none;
		box-shadow: none;
		background: #fff;
		padding: 1px;
		box-sizing: none;
		width: 99%;
		z-index: 99;
	}

	.circle {
		display: none;
	}

	.image {
		width: 100%;
		margin-top: 9%;
	}

	.login_btn {
		width: 100%;
		margin-top: 5%;
	}

	.signup_btn {
		width: 100%;
		margin-top: 5%;
	}

	.new-for-ttc {
		color: #66a3ff;
		margin-bottom: -8%;
		text-align: center;
	}

	.child-container {
		display: none;
	}

	.col {
		display: none;
	}

	.create-new-account {
		font-size: 12px;
		margin: 26px;
		color: #9ca4ab;
		font-family: sans-serif;
	}

	.pointer {
		width: 10%;
		border-top: #f9757e solid 1px;
		margin-top: -12px;
		padding-bottom: 15px;
		margin: auto;
	}
}

@media only screen and (min-width:991px) {
	.content-area {
		width: 75%;
		margin: 0 auto;
		margin-top: 30px;
	}

	.login, .forgot {
		width: 42%;
	}

	.logo1 {
		width: 250px;
		height: auto;
	}

	.pointer {
		width: 10%;
		border-top: #f9757e solid 1px;
		margin-top: -12px;
		padding-bottom: 15px;
		margin: auto;
	}
}



@media only screen and (min-width:1024px) and (max-height: 1366px) and (orientation: portrait) {
	.content-area {
		width: 95%;
		margin: 0 auto;
		margin-top: 105px;
		margin-bottom: 42px;
		min-height: 50%;
	}

	.login, .forgot {
		margin-top: 12%;
		min-height: 688px;
		;
		width: 50%;
	}

	.logo1 {
		width: 250px;
		height: auto;
	}

	.pointer {
		width: 10%;
		border-top: #f9757e solid 1px;
		margin-top: -12px;
		padding-bottom: 15px;
		margin: auto;
	}
}


@media only screen and (max-width:991px) and (min-device-width : 420px) {
	.content-area {
		width: 60%;
		margin: 0 auto;
		margin-top: 25px;
	}

	.login, .forgot {
		width: 98%;
	}

	.child-container {
		display: none;
	}

	.image {
		width: 99%;
		margin-top: 4%;
	}

	.logo1 {
		width: 100%;
	}

	.pointer {
		width: 10%;
		border-top: #f9757e solid 1px;
		margin-top: -12px;
		padding-bottom: 15px;
		margin: auto;
	}
}

@media only screen and (min-width:2000px) {
	.content-area {
		width: 50%;
	}
}

.address-group {
	width: 100%;
}

.terms_div {
	margin-top: 2em;
}

.terms_link {
	color: #66a3ff;
	text-decoration: underline;
	cursor: pointer;
	margin: 10px;
}

.disabled_button {
	background: lightgray;
}

.footer_link {
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

.spacer {
	margin: 3px;
}

.footer1 {
    font-size: 10px;
    text-align: center;
    background-color: #4587C1;
    color: white;
    bottom: 0%;
    width: 100%;
    position: fixed;
	font-family: 'Roboto', sans-serif;
    z-index: 999;
	padding:2px;
}

.banner-text {
	display: block;
	color: white;
	font-size: 14px;
	margin-top: -2em;
	margin-left: 5px;
}

.banner-header {
	margin-left: 5px;
	margin-top: 0px;
	padding-bottom: 0.5em;
	color: white;
}

.banner {
	display: block;
	bottom: 2em;
	left: 0px;
	width: 100%;
	background-color: red;
	position: fixed;
	z-index: 999;
	font-family: 'Roboto', sans-serif !important;
	line-height: 22px;
}

.cbx-wrapper {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 10px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

/*.cbx-wrapper:hover input[type="checkbox"]:not([disabled]) + .cbx-label {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: rgba(0, 119, 255, 0.2);
}*/

.cbx-wrapper:hover input[type="checkbox"]:not([disabled]) + .cbx-label:before {
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-color: #C4CAD3;
	background: #C4CAD3;
}

.cbx-wrapper input[type="checkbox"] {
	margin-top: 8px;
	margin-left: 1px;
	position: absolute;
	z-index: 10;
	opacity: 1%;
	height: 17px;
	width: 17px;
	cursor: pointer;
}

.cbx-wrapper input[type="checkbox"] + .cbx-label:before {
	content: "";
	display: inline-block;
	margin-right: 6px;
	width: 18px;
	height: 18px;
	border-radius: 5px;
	/*border: 1px solid #DADFE4;*/
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background: #DADFE4;
}

.cbx-wrapper input[type="checkbox"]:checked + .cbx-label:before {
	content: "";
	background: #1676F3 !important;
	/*border-color: #1676F3 !important;*/
	-webkit-animation: wave 0.8s cubic-bezier(0.64, 0.11, 0.26, 0.96);
	animation: wave 0.8s cubic-bezier(0.64, 0.11, 0.26, 0.96);
}

.cbx-wrapper input[type="checkbox"]:checked + .cbx-label .cbx-tick:after {
	-webkit-animation: check 0.8s;
	animation: check 0.8s;
	border-top-color: #fff;
	border-right-color: #fff;
}

.cbx-wrapper input[type="checkbox"]:disabled + .cbx-label {
	opacity: 0.6;
}

.cbx-wrapper input[type="checkbox"]:disabled:checked + .cbx-label:before {
	background: transparent;
	border-color: #07f;
}

.cbx-wrapper input[type="checkbox"]:disabled:checked + .cbx-label .cbx-tick:after {
	border-top-color: #07f;
	border-right-color: #07f;
}

.cbx-wrapper .cbx-label {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: baseline;
	justify-content: baseline;
	padding: 6px 0;
	border-radius: 6px;
	margin: 0;
	position: relative;
	/*cursor: pointer;*/
	font-size: 22px;
	font-size: 16px;
	color: #969A9C;
}

.cbx-wrapper .cbx-label .cbx-tick {
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	background: transparent;
	border-radius: 5px;
}

.cbx-wrapper .cbx-label .cbx-tick:after {
	content: "";
	display: block;
	height: 7.5px;
	width: 3.25px;
	position: absolute;
	/*left: 24%;
	top: 52%;*/
	-webkit-transform: scaleX(-1) rotate(140deg);
	transform: scaleX(-1) rotate(140deg);
	-webkit-transform-origin: left top;
	transform-origin: left top;
	border-right: 2px solid transparent;
	border-top: 2px solid transparent;
	margin-left: 4px;
	margin-top: 10px;
}

@-webkit-keyframes wave {
	50% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		box-shadow: 0px 0px 0px 4px rgba(22, 118, 243, .3);
	}
}

@keyframes wave {
	50% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		box-shadow: 0px 0px 0px 4px rgba(22, 118, 243, .3);
	}
}

@-webkit-keyframes check {
	0% {
		height: 0;
		width: 0;
		/*box-shadow: 0px 0px 0px 3px #000;*/
	}

	25% {
		height: 0;
		width: 3.25px;
	}

	50% {
		height: 7.5px;
		width: 3.25px;
		/*box-shadow: 0px 0px 0px 3px #000;*/
	}
}

@keyframes check {
	0% {
		height: 0;
		width: 0;
		/*box-shadow: 0px 0px 0px 3px #000;*/
	}

	25% {
		height: 0;
		width: 3.25px;
		/*box-shadow: 0px 0px 0px 3px #000;*/
	}

	50% {
		height: 7.5px;
		width: 3.25px;
		/*box-shadow: 0px 0px 0px 3px #000;*/
	}
}
