table.gridExG { /* mobile */
  margin-bottom:10px;
}

#bk_elemTblScr, /*mobile*/
#elemTblScr { 
	position:relative;
	height:auto;
	max-height:auto;
	overflow-y:visible;
}

#elemTblScr { /*mobile*/
	height:208px;
	max-height:208px;
}

.footerCont { /* mobile */
	position:relative;
	float:left;
	width:100%;
	min-width:786px;
	color:#000;
	top:-10px;
	height:10px;
	left:0px;
	background-color:#fff;
}

.footer_txt { /* mobile */
	position:relative;
	display:block;
	width:100%;
	margin:auto;
	color:#666;
	font-size:10px;
	padding:0px 0px 0px 0px;
	border-top:2px solid #bed6f8;
}

#main { /* mobile */
	position:relative;
	float:left;
	display:inline-block;
	width:100%;
	min-width:1020px;
	min-height:575px;
	height:100%;
	background-color:#fff;
	overflow:hidden;
}

#mainCont { /* mobile */
	position:relative;
	margin:auto;
	min-width:756px;
	width:100%;
 	min-height:498px;
	background-color:#bed6f8;
	margin-top:55px;
	height:100%;
	overflow:hidden;
	border-left:0px solid #bed6f8;
	border-right:0px solid #bed6f8;
}

#ctrCont { /* mobile */
	position:relative;
	float:left;
	display:block;
	width:100%;
	height:100%;
	min-height:498px;
	top:-3px;
	background-image:url(../i/bk_crossHatch.gif);
	margin-right:2px;
	padding-left:1px;
	padding-bottom:35px;
}

#pnlFull { /* mobile */
	position:relative;
	margin:auto;
	width:99%;
	height:100%;
	left:-4px;	
}

.loginCont { /* mobile */
	position:relative;
	float:left;
	display:block;
	min-width:400px;
	overflow-x:hidden;
	width:100%;
	min-height:500px;
	height:100%;
	background-color:#fff;
	background-image:url(../i/bk_crossHatch.gif);
}
#loginInfo { /* mobile */
	position:relative;
	margin:auto;
	width:580px;
}

.pad-144lt {margin-left:-144px;} /* mobile */


#sceneListCont { /* mobile */
	min-height:431px;
}
#matListCont { /* mobile */
	min-height:437px;
}
#poiListCont { /* mobile */
	min-height:394px;
}
#homeCallTimeInfo {/* mobile */
	margin-top:-5px;
	margin-left:5px;
	min-height:145px;
}

#projectEpiListCont { /* mobile */
	display:inline-block;
	min-height:342px;
}
#projectEpiListCont .fflist,
#projectEpiListCont .epilist { /* mobile */ 
	min-height:304px;
	display:inline-block;
	width:100%;
}

#scriptRevListCont .scriptlist { /* mobile */
	min-height:382px;
	display:inline-block;
	width:100%;
}

#impCompCont .scptComp-pad { /* mobile, note:mobile doesn't need the margin adjustment at all so this override goes last */
	margin-left:0px;
}
#impReviewCont .impRev-pad,
#impFinCont .impFin-pad { /* mobile, note:mobile doesn't need the margin adjustment at all so this override goes last */
	margin-left:0px;
}

#scriptPageCont { /* mobile */
	margin:0px auto 6px 0px; 
	overflow-y:visible;
	overflow-x:hidden;
	width:100%;
	z-index:1;
	height:100%;
	min-height:247px;
	border-top:1px solid #bed6f8;
	border-bottom:none;
}


#impRevSceneList { /* mobile */
	margin:0pt auto; 
	overflow-y:visible;
	overflow-x:hidden;
	width:100%;
	z-index:1;
	height:100%;
	min-height:298px;
	border:solid 0px #000;
	margin-bottom:6px;
}

#fullScrCont { /* mobile */
	position:relative;
	margin-top:5px; 
	overflow-y:visible;
	overflow-x:hidden;
	width:100%;
	z-index:100;
	height:100%;
	min-height:360px;
}

#impCompSceneList { /* mobile */
	margin:0px auto 6px auto; 
	overflow-y:visible;
	overflow-x:hidden;
	z-index:100;
	min-height:274px;
}

#impFinSceneList { /* mobile */
	margin:0px auto 6px auto;
	overflow-y:visible;
	overflow-x:hidden;
	width:100%;
	z-index:100;
	min-height:303px;
}

.realElemDetailsBtmLeft { /* mobile */
	margin-bottom:10px;
}
.realElemDetailsBtmRight { /* mobile */
	margin-bottom:10px;
}

#elementCont { /* mobile */
	margin-bottom:15px;
}


#castandcrew { /* mobile */
	position:relative;
	float:left;
	width:100%;
	min-height:335px;
	height:100%;
	overflow-y:visible;
	z-index:100;
	margin-bottom:15px;
}
#callsheet { /* mobile */
	position:relative;
	float:left;
	margin-top:5px;
	margin-bottom:11px;
	min-width:987px;
	width:100%;
	min-height:386px;
	height:100%;
	overflow-y:visible;
	overflow-x:hidden;	
	z-index:100;
}

#exGCont .icePnlTbSetCnt { /* mobile */
	margin-bottom:25px;
	overflow-y:visible;
}
#matInvDetailCont .icePnlTbSetCnt,
#scriptElemDetailCont .icePnlTbSetCnt { /* mobile */
	margin-bottom:18px;
}
#sceneDetailCont .icePnlTbSetCnt { /* mobile */
	margin-bottom:13px;
}


.homeStatusScrollCont { /* mobile */
	position:relative;
	float:left;
	min-height:349px;
	z-index:100;
	overflow-y:visible;
	overflow-x:hidden;
	margin-top:6px;
	width:100%;
}