/* Mobile timecard CSS */
* {font-family: Arial, Verdana, Helvetica, sans-serif;}

body {
	width: 100%;
	font-size: 18px;
	pad: 0px;
	margin: 0px;
	background-color: #fff;
}
.ui-inputfield {
	/* for mobile, set to match ice3 default */
	padding: 2px;
	line-height: 17px;
}
.fd1, .inCtlRow, 
.inHrRow, .inMilesRow, .inInfoRow, .inInfoCityState,
.totalHrRow { /* fields that span almost entire screen */
	width: 90%;
}
.fdPass, .fdPin, .fdEmail, .fdFname, .fdLname { 
	/* email and name inputs, not quite so wide, although they're on a line by themselves */
	width: 70%;
	text-align: center;
}
.fdPass { 
	/* password narrower max */
	max-width: 200px;
}
#loginForm .fdPass, #loginForm .fdEmail {
	font-size: 18px;
}
.fdPin { 
	/* pin narrower still */
	width: 50%;
	max-width: 150px;
}
.myacct .fdEmail, .myacct .fdFname, .myacct .fdLname {
	width: 90%;
	text-align: left;
	max-width: 400px;
}
.myacct .fdFname, .myacct .fdLname {
	width: 42%;
	margin-right: 5%;
	max-width: 200px;
}

.fdStateDiv {
	width: 60%;
	display: inline-block;
	max-width: 200px;
}
.fdState, .fdState input {
	width: 100%;
	max-width: 200px;
}
.fdZipDiv {
	padding-left: 30px;
	width: 20%;
	display: inline-block;
}
.fdZip, .fdZip input {
	width: 100%;
	max-width: 100px;
}
.fdPhone {
	width: 50%;
	max-width: 200px;
}
.inputLbl, .inputLblLeft {
	font-size: 13px;
	font-weight: normal;
}
.inputLbl {
	margin-left: 5px;
}
.inputLblLeft {
	display: inline-block;
	width: 50px;
	text-align: right;
	margin-right: 5px;
}

.fd3, .fd4 { /* input fields - 3 or 4 in a row */
	font-size: 14px;
	width: 32%;
	height: 26px;
}
.fd4 { /* input fields - 4 in a row */
	width: 23%;
	height: 22px;
}
.fd3 .iceOutTxt, .fd4 .iceOutTxt {
	font-weight: bold;
	margin-right: 5px;
}
.fd4 .iceOutTxt {
	margin-right: 2px;
}
.fd3 .iceInpTxt, .fd3 .iceInpTxt-dis {
	width: 40px;
	font-weight: bold;
}
.fd4 .iceInpTxt, .fd4 .iceInpTxt-dis {
	font-weight: bold;
}
.stdTxtArea {
	position:relative;
	overflow-y:scroll;
	overflow-x:hidden;
	border:1px solid #ccc;
	background-color:#fff;
	resize:none;
	font-size:12px;
	display:inline-block;
	margin-top: 0px;
}
textarea.ui-inputfield.ui-textareaentry {
	/* give ace textarea a light gray background; overrides LS gradient and/or
	  ice4 white-to-dark-gray gradient. */
	background: #f2f5fa;
}

.inCtlRow, .twoBtnRow { /* row with multiple controls */
	font-size: 12px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	margin-top: 6px;
}
.twoBtnRow { /* row with 2 buttons, often some action and Cancel */
	width: 90%;
	text-align: center;
	margin-top: 15px;
}

.twoColumn {
	width: 44%;
	float: left;
	text-align: left;
}

.statusBanner,	/* status stripe on Timecard Review page */
.statusBannerP,	/* status stripe on Weekly Payroll page */
.inMilesRow,	/* mileage detail input line */
.inInfoRow,	/* Start Info detail input line */
.wkHrRow,			/* daily totals of hours, dayType */
.inHrRow, .totalHrRow, .inInfoCityState,
.inInfoRow .ui-state-default
{ /* row with input hours */
	font-size: 12px;
	height: 26px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	margin-top: 6px;
	background-color: lightblue;
}
.statusBanner,	/* status stripe on Timecard Review page */
.inMilesRow,	/* mileage detail input line */
.inInfoRow,	/* Start Info detail input line */
.inInfoCityState,
.inHrRow, .totalHrRow,
.inInfoRow .ui-state-default
{ /* row with input hours */
	font-size: 14px;
	font-weight: bold;
}
.inHrRow, .totalHrRow {
	/* ice4 */
	text-align: left;
}
.statusBannerP-text,
.statusBanner .iceOutTxt,	/* status stripe on Timecard Review page */
.statusBannerP .iceOutTxt,	/* status stripe on Weekly Payroll page */
.inHrRow .iceOutTxt, .totalHrRow .iceOutTxt, /* label on hours input row */
.inInfoRow .iceOutTxt, /* label on start info input row */
.inMilesRow .iceOutTxt /* label on mileage input row */
{
	top: 5px;
	position: relative;
	margin-left: 15px;
	float: left;
	font-size: 14px;
	font-weight: bold;
}
.inInfoCityState .iceOutTxt {
	top: 5px;
	position: relative;
	float: left;
	font-size: 14px;
	font-weight: bold;
}
.inInfoRow span
{
	float: left;
}

.statusBannerP-text {
	float: none;
}
.wkHrRow {
	margin-top: 3px;
	margin-left: 10px;
	padding-right: 10px;
	vertical-align: top;
}
.inInfoRow .iceOutTxt, /* label on start info input row */
.inMilesRow .iceOutTxt /* label on mileage input row */
{
	margin-left: 10px; 
}
.statusBanner { /* status stripe on Timecard Review page */
	width: 98%;
	min-width: 560px; /* so it will scroll, and not wrap text fields within it */
}
.statusBannerP .iceOutTxt, 	.statusBannerP-text /* status stripe on Weekly Payroll page */
{
	margin-left: 0px;
}
.statusBannerP { /* status stripe on Weekly Payroll page */
	width: 99%; /* matches "mBtnFull" size */
}

.inHrRow .iceInpTxt, .inHrRow .iceInpTxt-dis, /* input field on hours input row */
.inInfoRow .iceInpTxt, .inInfoRow .iceInpTxt-dis, /* input field on start info input row */
.inInfoRow .iceSelOneMnu, .inInfoRow .iceSelOneMnu-dis, /* drop-down menu on start info input row */
.inInfoCityState .iceSelOneMnu, .inInfoCityState .iceSelOneMnu-dis, /* drop-down menu on start info input row */
.inMilesRow .iceInpTxt, .inMilesRow .iceInpTxt-dis, /* input field on mileage input row */
.inMilesRow .iceSelOneMnu, .inMilesRow .iceSelOneMnu-dis
{
	float: right;
	margin-right: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	width: 20%;
	margin-top: 2px;
}
.inInfoRow .ui-inputfield {
	/* ice4 equivalent of iceInpTxt*/
	float: right;
	margin-right: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	width: 20%;
	margin-top: 2px;
}
.inInfoCityState .ui-inputfield {
	position: relative;
	float: left;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}
.inMilesRow .iceInpTxt, .inMilesRow .iceInpTxt-dis /* input field on mileage input row */ 
{
	margin-right: 10px;
	width: 30%;
}
.inMilesRow .iceSelOneMnu, .inMilesRow .iceSelOneMnu-dis {
	margin-right: 10px;
	margin-top: 3px;
	font-weight: normal;
	width: 40%;
}
.inMilesRow .expText {
	margin-right: 10px;
	width: 60%;
	text-align: right;
	float: right;
}
.inInfoRow .iceInpTxt, .inInfoRow .iceInpTxt-dis, /* input field on start info input row */
.inInfoRow .iceSelOneMnu, .inInfoRow .iceSelOneMnu-dis /* drop-down menu on start info input row */
{
	text-align: left;
	margin-right: 10px;
	width: 35%;
}
.inInfoRow .ui-inputfield {
	/* ice4 equivalent of iceInpTxt*/
	text-align: left;
	margin-right: 10px;
	width: 35%;
}
.inInfoRow .iceSelOneMnu, .inInfoRow .iceSelOneMnu-dis /* drop-down menu on start info input row */
{
	width: 20%;
}
 .inHrRow .iceInpTxt-dis, .inMilesRow .iceInpTxt-dis, .inInfoRow,  .iceInpTxt-dis, 
 .inInfoCityState, .fd3 .iceInpTxt-dis, .fd4 .iceInpTxt-dis { /* coloring for disabled input field boxes */
	background-color: #dee;
	color: #222;
}
.totalHrRow .iceOutTxt {
	font-size: 16px;
}
.totalHrRow .totalHr {
	float: right;
	margin-right: 22px; /* +2 over input field margin */
	margin-top: 2px;
	text-align: right;
	padding-right: 2px;
	border: 1px solid #888;
	width: 20%;
	height:80%;
	background-color: white;
	display: inline-block;
}
.txtTotal {
	font-size: 20px;
	font-weight: bold;
}
.bxVal { /* display a value in a box */
	font-size: 16px;
	font-weight: bold;
	border: 1px solid blue;
	margin-top: 4px;
	width: 50px;
	text-align: right;
}
/* hour/mpv/mileage/expense values displayed without a box - weekly payroll page */
.unBoxVal, .unBoxValTotal, .unBoxMiles, .unBoxExp,
.unBoxMpv, .unBoxMpvTotal, .unBoxDayType { /* display a value without a box */
	display: inline-block;
	vertical-align: middle;
	margin-top: 2px;
	font-size: 16px;
	font-weight: bold;
	border: 0px solid white;
	width: 55px;
	text-align: right;
}
.unBoxExp {
	width: 100%;
	height:22px;
	line-height:22px;
}
.unBoxMiles { /* Miles column in Mileage section of Weekly Payroll page */
	width: 65px;
	margin-right: 7px;
	float: right;
}
.unBoxDayType, .unBoxDayHdr {
	vertical-align: middle;
	text-align: center;
	margin-left: 10px;
	width: 70px;
}
.unBoxDayHdr {
	font-size: 16px;
	text-decoration: underline;
}
.unBoxValTotal { /* total hours on Weekly Payroll */
	font-size: 18px;
	width: 40px;
}
.unBoxMpv, .unBoxMpvTotal {
	width: 60px;
}
.wkTotalLabel { /* weekly payroll - "total" label for hours/mpv */
	display: inline-block;
	width: 220px; /* pushes total to right edge */
	text-align: right; 
	vertical-align: bottom; 
	line-height: 30px;
}
.wkHours { /* weekly payroll - hours+MPV column*/
	display: inline-block;
	margin-left: 3%;
	vertical-align: top;
	line-height: 30px;
}

.area1 { /* full-width text output area (e.g., Comments) */
	width: 100%;
	font-size: 14px;
	font-weight: normal;
	min-height: 100px;
	border: 1px solid #bed6f8; /* bbb for gray */
	overflow-y: auto;
	overflow-x: hidden;
	display: inline-block;
	text-align: left;
}

.ckbx, .ckbx-dis {
}
.ckbx input {
	height: 13px; /* ice4: 13; was 16*/
	margin-top: 6px;
}
.ckbxTxtLbl,
.ckbxTxtTOS, /* terms of use */
.ckbxTxtLbl_B {
	font-size: 14px;
	position: relative;
	/*top: 4px; removed for ice4 */
}
.ckbxTxtLbl_B {
	font-weight: bold;
}
.ckbxTxtTOS { /* terms of use */
	margin-top: 2px;
	font-size: 12px;
	font-weight: bold;
}
.ckbxDash input { /* checkbox on the approver dashboard */
	height: 32px;
	margin: 0px;
}
.ckbxLabel {
	font-size: 14px;
	font-weight: bold;
}

.iceSelBoolChkbx, .iceSelBoolChkbx-dis { /* added rev 4376 for split-checkboxes */
	position: relative;
	height: 18px;
	line-height: 22px;
	vertical-align: middle;
}

/* classes for paired NDB/NDM checkboxes; DIFFERENT than desktop */
.ndmDiv { /* build 2 divs, each 13px high */
	 margin: auto;
	 width: 26px;
	 min-width: 26px;
	 height: 13px;
	 max-height: 13px;
}
.ndm1, .ndm1-dis, .ndm2, .ndm2-dis {
	float: left;
	margin: 0;
	padding: 0; /* rev 4376: added for IE9 fix */
	height: 13px;
	width: 13px;
}
.ndm2, .ndm2-dis {/* added for 2-up layout*/
	float:right;
}
.ndmSlash1, .ndmSlash2 {
	background-image:url(../i/slash.gif);
	background-repeat: no-repeat;
	width: 13px;
	margin: 0;
	padding: 0; /* rev 4376: added for fix */
	height: 13px;
	float: right;
}
.ndmSlash2 {
	float: left;
}

.selected {
	color: #c0FF60;
	font-weight: bold;
}
.selected2 { /* used for weekend date banner text */
	color: #0084e2;
	font-weight: bold;
}

/*******************************************/
/* btn styles */
/*******************************************/

.ui-state-hover, .ice-linkbutton.ui-state-hover {
	/* don't want "box" appearing around hovered link */
	background: none;
	border: none;
}

.ice-linkbutton {
	/* ice4: turn off default border & padding for links */
	border: 0px
	padding: 0px;
}

.ice-linkbutton .yui-button a:hover {
	color:#e27125; /* orange hover text -- added for ace to match old ice */
}

.btn, .btn-dis, .btn_small,
.btnPriEnbSm, .btnPriEnbSm-dis,
.btnPriEnb, .btnPriEnb-dis,
.btnPriHot, .btnPriHot-dis, 
.btnSecHot, .btnSecHot-dis {
	font-weight: bold;
	border: 1px solid #bbd0f0;
	padding-top: 2px;
	padding-bottom: 3px;
	cursor: pointer;
}

.btnLbl2lines:hover,
.btnLbl2lines { /* buttons with label split into 2 (two) lines */
	position: relative;
	top: 2px;
	left: 0px;
	color: #fff;
	line-height: 14px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.btnLbl2lines:hover {
	color: #000;
}
.btnPriHotCt-dis .btnLbl2lines { /* disabled state, 2-line btn */
	color: #bbb;
}
.btnPriEnbCt-dis .btnLbl2lines { /* disabled state, 2-line btn */
	color: #ccc;
}
.btnSecHotCt-dis .btnLbl2lines { /* disabled state, 2-line btn */
	color: #ccc;
}

a: hover.btnPriHotCt, span.btnPriHotCt:hover,
a: hover.btnPriEnbCt, span.btnPriEnbCt:hover,
a: hover.c,
a: hover.btnSecHotCt, span.btnSecHotCt:hover {
	color: #000;
	text-decoration: none;
}

/* disabled btnPriDisCt won't get a hover: hand cursor either */
.btnPriDisCt, .btnPriDisSmCt {
	cursor: default;
}
.btnPriHotCt-dis, /* disabled state */
.btnSecHotCt-dis, /* disabled state */
.btnPriEnbCt-dis, /* disabled state */
a.btnPriHotCt, span.btnPriHotCt,
a.btnPriHotSmCt,
a.btnPriEnbCt, span.btnPriEnbCt,
a.btnPriEnbSmCt,
a.btnPriDisCt, span.btnPriDisCt,
a.btnPriDisSmCt,
a.btnSecHotCt, span.btnSecHotCt,
a.btnSecHotSmCt {
	float: left;
	background-repeat: repeat-x;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	min-height: 32px;
	height: 32px;
	line-height: 32px;
	border: 0px;
	margin: 0px;
	min-width: 20px;
	text-align: center;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 2px;
}
span.btnPriHotCt,
span.btnPriEnbCt,
span.btnSecHotCt {
	color: #ccc;
}

/* div entries needed for ace buttons: */
div.btnPriHotCt,
div.btnPriEnbCt,
div.btnPriDisCt,
div.btnSecHotCt {
	float:left;
	height:32px;/* ? */
	padding: 0px;
	border: none !important;
}
/* for ace:linkButton: */
.ice-linkbutton.btnPriHotCt .yui-button,
.ice-linkbutton.btnPriDisCt .yui-button,
.ice-linkbutton.btnSecHotCt .yui-button,
.ice-linkbutton.btnPriEnbCt .yui-button {
	color:#fff;
	margin:0;
}
/* for ace:linkButton: */
.ice-linkbutton.btnPriHotCt .yui-button a,
.ice-linkbutton.btnPriDisCt .yui-button a,
.ice-linkbutton.btnSecHotCt .yui-button a,
.ice-linkbutton.btnPriEnbCt .yui-button a {
	background:none;
	color:#fff;
	font-weight:bold;
	min-height:26px;
	height:26px;
	line-height:24px; /* note - 26 for icefaces version */
	margin:0px;
	min-width:40px;
	padding-right:2px;
	padding-left:2px;
	text-decoration: none !important; /* ice4: !important req'd to override Ice's important */
}
.ice-linkbutton.btnPriHotCt .yui-button a:hover,
.ice-linkbutton.btnPriDisCt .yui-button a:hover,
.ice-linkbutton.btnSecHotCt .yui-button a:hover,
.ice-linkbutton.btnPriEnbCt .yui-button a:hover {
	color:#000;
}

.btnLbl2lines,
.ice-linkbutton.btnLbl2lines .yui-button a,
{
	position:relative;
	top:1px;
	left:3px;
	color:#fff;
	line-height:11px;
	font-weight:bold;
}
.ice-linkbutton.btnLbl2lines .yui-button a,
.btnLbl2lines {
	left:0px;
}

a.btnPriHotSmCt,
a.btnPriEnbSmCt,
a.btnPriDisSmCt,
a.btnSecHotSmCt {
	font-size: 16px;
	min-height: 26px;
	height: 26px;
	line-height: 26px;
}
a.mBtnFull {
	width: 100%;
	padding: 0px;
}

/* images for normal & disabled states; span for ice4 disabled state */
a.btnPriHotCt, .btnPriHotCt-dis, span.btnPriHotCt
{
	background-image: url(../i/btnPriHotCtL.gif);
} 
a.btnPriEnbCt, .btnPriEnbCt-dis, span.btnPriEnbCt
{
	background-image: url(../i/btnPriEnbCtL.gif);
}
a.btnSecHotCt, .btnSecHotCt-dis, span.btnSecHotCt
{
	background-image: url(../i/btnSecHotCtL.gif);
}

a.btnPriDisCt {background-image: url(../i/btnPriDisCtL.gif); }

a.btnPriHotSmCt {background-image: url(../i/btnPriHotCt.gif); }
a.btnPriEnbSmCt {background-image: url(../i/btnPriEnbCt.gif); }
a.btnPriDisSmCt {background-image: url(../i/btnPriDisCt.gif); }
a.btnSecHotSmCt {background-image: url(../i/btnSecHotCt.gif); }

.btnPriHotCt-dis {
	color: #ccc
}
.btnPriEnbCt-dis {
	color: #ccc
}
.btnSecHotCt-dis {
	color: #ccc
}

/* Specify attributes & images for all the left- and right-edges of the buttons */
.btnPriHotRt, .btnPriHotLt, .btnPriHotSmRt, .btnPriHotSmLt,
.btnPriDisRt, .btnPriDisLt, .btnPriDisSmRt, .btnPriDisSmLt,
.btnPriEnbRt, .btnPriEnbLt, .btnPriEnbSmRt, .btnPriEnbSmLt,
.btnSecHotRt, .btnSecHotLt, .btnSecHotSmRt, .btnSecHotSmLt
 {
	float: right;
	width: 4px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.btnPriHotSmRt, .btnPriHotSmLt,
.btnPriDisSmRt, .btnPriDisSmLt,
.btnPriEnbSmRt, .btnPriEnbSmLt,
.btnSecHotSmRt, .btnSecHotSmLt {
	height: 26px;
}
.btnPriHotRt, .btnPriHotLt,
.btnPriDisRt, .btnPriDisLt,
.btnPriEnbRt, .btnPriEnbLt,
.btnSecHotRt, .btnSecHotLt {
	height: 32px;
}
.btnPriHotSmLt, .btnPriHotLt {
	background-image: url(../i/btnPriHotLt.gif);
}
.btnPriHotSmRt, .btnPriHotRt {
	background-image: url(../i/btnPriHotRt.gif);
}
.btnPriEnbSmLt, .btnPriEnbLt {
	background-image: url(../i/btnPriEnbLt.gif);
}
.btnPriEnbSmRt, .btnPriEnbRt {
	background-image: url(../i/btnPriEnbRt.gif);
}
.btnPriDisSmLt, .btnPriDisLt {
	background-image: url(../i/btnPriDisLt.gif);
}
.btnPriDisSmRt, .btnPriDisRt {
	background-image: url(../i/btnPriDisRt.gif);
}
.btnSecHotSmLt, .btnSecHotLt {
	background-image: url(../i/btnSecHotLt.gif);
}
.btnSecHotSmRt, .btnSecHotRt {
	background-image: url(../i/btnSecHotRt.gif);
}

.btnPriHotCt.txt24, .btnPriEnbCt.txt24, .btnPriDisCt.txt24, .btnSecHotCt.txt24 {
	font-size:24px;
}

/* Button classes unique to mobile: mBtn... */

.mBtnDiv {
	display: inline-block;
	margin-top: 8px;
}
.midBtn { /* text to align in middle vertically next to our standard buttons */
	vertical-align: top;
	margin-top: 5px;
	display: inline-block;
}
.mBtnFull {
	width: 99%;
}
.mBtnWide {
	width: 280px;
}
.mBtnMed {
	width: 200px;
}
.mBtnLeft { /* button on left of row, as on dashboard and list-of-days pages */
	width: 160px;
}
.mBtnDay { /* button on left of row on list-of-days page (Weekly Payroll) */
	width: 120px;
}
.mBtnRev { /* button on left of timecard review (approval) page */
	width: 78px;
}
.mBtnCenter {
	/* centered, auto-width button; used on 'days' page. */
	text-align: center;
	display: inline-block;
	margin-top: 5px;
}
.mBtnCenter a {
}

.mBtnDash, a.mBtnDash, /* name (timecard) buttons on dashboard */
a.mBtnOccupation { /* occupation buttons on timecard list */
	font-size: 16px;
	width: 100%; /* was 200px */
	height: 36px;
}
.mBtnDash .iceOutTxt,
.mBtnOccupation .iceOutTxt { /* to get button text vertically centered! */
	display: table-cell;
	vertical-align: middle;
	height: 34px; /* best compromise for both 1- and 2-line labels */
	width: 200px;
}
.mBtnDash {
	display: inline-block;
}
a.mBtnOccupation, .mBtnOccupation .iceOutTxt {
	width: 210px;
}
div.mBtnOccupation {
	margin-left: 4%;
	margin-top: 6px;
}

/* mBtn95: button that fills 95% of parent container; set class ONLY on outer div. Example (see also dash.xhtml):
	<div class="mBtn95">
		<span class="btnPriHotLt" />
		<div>
			<h:commandLink styleClass="btnPriHotCt" value="#{tcEntry.name}"  action=... />
		</div>
		<span class="FL btnPriHotRt" />
	</div>
 */
div.mBtn95 {
	display: inline-block;
	width: 100%
}
.mBtn95 span, .mBtn95 div {
	float: left;
}
.mBtn95 div {
	width: 95%
}
.mBtn95 a {
	font-size: 16px;
    width: 100%;
    height: 36px;
}
.mBtn95 a > span {
	float: none;
}

.mBtn2Line span, .mBtn2Line div {
	float: left;
	line-height: 14px;
	font-size: 14px;
}
.mBtn2Line a {
    width: 100%;
    height: 36px;
	line-height: 14px;
	font-size: 14px;
	padding-top: 1px;
}
.mBtn2Line a > span {
	float: none;
}


.weekEndBanner { /* week-end date banner on timecard list */
	background-color: lightblue;
	width: 98%;
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	margin-top: 20px;
}
.tclHours { /* time card list page - total hours */
	font-size: 18px;
	font-weight: bold;
	line-height: 36px;
	width: 60px; /* enough for nnn.nn */
	margin-left: 4%;
	text-align: right;
	vertical-align:top;
}
.tcAdj { /* for "-ADJ" tag on adjusted timecards */
	color: red;
}
.tclBtn, a.tclBtn {
	width: 60px; /* enough for nnn.nn */
}
.toggle {
	/* style of 'toggle' bars on Days page; replaced old "CT inBlock pad10tp" class list */
	text-align: center;
	display: inline-block;
	margin-top: 5px; /* was 10px in ice3 */
	width: 99%;
}
a .toggle, .toggle a {
	width: 100%;
	padding: 0px;
}
.rowCont {
	width: inherit;
	margin: auto;
	display: block;
	background-color: #fff;
}

.login_footer_txt {
	position: relative;
	margin: auto;
	color: #666;
	font-size: 10px;
}
.loginErrMsgTxt, .errorMsgTxt {
	font-size: 16px;
	font-weight: normal;
	line-height: 14px;
	padding: 0px;
	color: #FF0000;
	display: inline-block;
}
.errorMsgTxt ul {
	margin: 3px 0px 0px 0px;
}
.login_footer_txt {
	font-size: 12px;
	color: #333;
}
.footer {
	position: relative;
	margin-top: 8px;
	display: block;
	clear: both;
}
.welcome { /* welcome message at top of page */
	font-size: 14px;
	font-weight: normal;
	margin-top: 0px;
}
.prodTitle { /* Production title, below welcome */
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
}
.pageTitle { /* page title, usually below production title */
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}
.subTitle { /* sub-title, such as "Timecards for:" on approver dashboard */
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
}
.dayType { /* for Day Type line on Hours entry page */
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin: auto;
	margin-bottom: 2px;
	margin-top: 8px;
}

.weekEndText { /* for "W/E mm/dd/yyyy" lines, e.g., on Weekly Timecard page */
	font-size: 20px;
	font-weight: bold;
}
.weekEndTextMed { /* for slightly smaller "W/E mm/dd/yyyy" lines, as on Submit page */
	font-size: 18px;
	font-weight: bold;
}
.infoText { /* typical informational/explanatory text */
	font-size: 14px;
	font-weight: normal;
}
.passInfo { /* password information text on new registration page */
	margin-left: 30px;
	margin-right: 30px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}

.homeBtns { /* area for buttons on "my home page" */
	margin: auto;
	max-width: 330px;
	margin-top: 20px;
}

/* Approver dashboard -- timecard review */
.tblRev, .tblRev th, .tblRev td {
	/* timecard review table */
	border-style: solid solid solid solid;
	border-width: 1px;
	border-color: #a3a3a3;
	border-collapse: collapse;
	font-size: 12px;
}
.tblRev th {
	border-style: none solid solid none;
	height: 22px;
	color: #0d2c41;
	background: #eee; /* #c7e1f9 */
}
.ui-datatable.tblRev tbody > tr > td {
	border-style: none solid solid none;
	height: 18px;
	padding: 2px;
}
.tblRev tfoot td { /* footer cells have no borders; table provides bottom border. */
	border-style: none;
}
.tblRev .total { /* total values */
	font-size: 13px;
	font-weight: bold;
}
div.tblRev  {
	border-style: none solid solid solid;
	border-width: 1px;
	border-color: #a3a3a3;
	border-collapse: collapse;
	font-size: 12px;
	display: table;
	width: 100%;
	text-align: left;
}

.confirmBox { /* wrapper for the "confirmation box" (e.g., see Delete Box Rental) */
	border: 2px solid gray;
	width: 90%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.BKwhite {background-color: #fff;}

.txtL1 { font-size: 24px; font-weight: bold;}
.txtL2 { font-size: 18px; font-weight: bold;}
.txtL3 { font-size: 14px; font-weight: bold;}
.txtL3-close {
	font-size: 14px; 
	font-weight: bold;
}
div.txtL3-close {
	/* because as of ice4, div's were getting extra space on bottom? */
	margin-bottom: -2px;
}

.txt18 {
	font-size: 18px;
	line-height: 19px;
}
.txt16 {font-size: 16px;line-height: 17px;}
.txt14 {font-size: 14px;line-height: 15px;}
.txt13, .txt13 input {
	font-size: 13px;
	line-height: 14px;
}
.txt12 {
	font-size: 12px;
	line-height: 13px;
}
.txt11, .txt11 input {
	font-size: 11px;
}
.txt10 {
	font-size: 10px;
	line-height: 10px;
}

.txt8 {
	font-size: 8px;
	line-height: 8px;
}

.inBlock {
	display: inline-block;
}
.DB {
	display: block;
}

.FL,
.FL-dis {
	position: relative;
	float: left;
}
.FLCol1 { /* for ice: column (td) within floating panelgrid  */
	vertical-align: top; /* defaults to middle */
}

.FR {
	position: relative;
	float: right;
}

.MA {
	position: relative;
	float: none;
	margin: auto;
}
.VAM {vertical-align: middle;}
.VAT {vertical-align: top;}

.CT, .CT-dis, .CTCol1, .CTCol2, .CT td, .CT th {text-align: center;}
.LT {text-align: left;}
.RT {text-align: right;}
.NW {white-space: nowrap;}
.CB {clear: both;}
.B, .B_true {font-weight: bold;}
.B_false {font-weight: normal;}
.I {font-style: italic;}
.U {text-decoration: underline;}
.BC {border-collapse: collapse;}

.ltMar { /* standard mobile left margin (at edge of device window */
	margin-left: 6px;
}
.rtMar { /* standard mobile right margin (at edge of device window */
	margin-right: 6px;
}

/* ice4: using h:selectOneRadio - use this by specifying styleClass="h_radio".
	This aligns radio button and label text nicely. Copied from global.uc.css in LS-4015 */
.h_radio, 
.h_radio_np /* h_radio with no right padding, for Direct Deposit form */
{
	margin-top: -5px; /* with adjacent text at font-size 12px, this aligns well. */
}
.h_radio td {
	/* this provides horizontal spacing between 'line-direction' radio buttons in h:selectOneRadio */
	padding-right: 10px;
}
.h_radio_np td {
	padding-right: 0px;
}
.h_radio.p8 td, .h_radio_np.p8 td {
	/* this provides vertical spacing between 'page-direction' radio buttons in h:selectOneRadio */
	padding-top: 8px;
}
.h_radio.p10 td, .h_radio_np.p10 td {
	/* this provides vertical spacing between 'page-direction' radio buttons in h:selectOneRadio */
	padding-top: 10px;
}
.h_radio label, .h_radio_np label { /* for h:selectOneRadio */
	font-size: 14px;	/* fontsize & weight set for mobile version. LS-4015*/
	font-weight: bold;
	vertical-align: top;
	padding-top: 2px;
	margin-left: 3px;
	display: inline-block; /* necessary for padding to take effect */
}
/* ice4: h_radio with ace:radioButtons. See script/scriptrev.xhtml for example. */
.h_radio .ice-ace-radiobutton label {
	padding-top: 5px;
	margin-left: 3px;
}
.h_radio.ice-ace-radiobuttons {
	margin-top: -2px;
}

.LH22, .LH22-dis {height:22px;line-height:22px;}
.LH28, .LH28-dis {height:28px;line-height:28px;}

.W100percnt {width:100%;}
.W95percnt {width:95%;}
.W90percnt {width:90%;}
.W70percnt {width:70%;}
.W65percnt {width:65%;}
.W60percnt {width:60%;}
.W55percnt {width:55%;}
.W50percnt {width:50%;}
.W40percnt {width:40%;}
.W35percnt {width:35%;}
.W30percnt {width:30%;}
.W25percnt {width:25%;}
.W20percnt {width:20%;}

.pad200lt {margin-left: 200px;}
.pad100lt {margin-left: 100px;}
.pad80lt {margin-left: 80px;}
.pad65lt {margin-left: 65px;}
.pad55lt {margin-left: 55px;}
.pad50lt {margin-left: 50px;}
.pad40lt {margin-left: 40px;}
.pad30lt, .pad30lt-dis {margin-left: 30px;}
.pad20lt {margin-left: 20px;}
.pad15lt {margin-left: 15px;}
.pad14lt {margin-left: 14px;}
.pad12lt {margin-left: 12px;}
.pad10lt {margin-left: 10px;}
.pad8lt {margin-left: 8px;}
.pad5lt, .pad5lt-dis {margin-left: 5px;}
.pad4lt {margin-left: 4px;}
.pad3lt {margin-left: 3px;}
.pad2lt {margin-left: 2px;}
.pad1lt {margin-left: 1px;}
.pad30rt {margin-right: 30px;}
.pad20rt {margin-right: 20px;}
.pad18rt {margin-right: 18px;}
.pad15rt {margin-right: 15px;}
.pad12rt {margin-right: 12px;}
.pad10rt {margin-right: 10px;}
.pad7rt {margin-right: 7px;}
.pad5rt {margin-right: 5px;}
.pad3rt {margin-right: 3px;}
.pad2rt {margin-right: 2px;}
.pad80tp {margin-top: 80px;}
.pad58tp {margin-top: 58px;}
.pad55tp {margin-top: 55px;}
.pad50tp {margin-top: 50px;}
.pad40tp {margin-top: 40px;}
.pad35tp {margin-top: 35px;}
.pad30tp {margin-top: 30px;}
.pad29tp {margin-top: 29px;}
.pad26tp {margin-top: 26px;}
.pad22tp {margin-top: 22px;}
.pad20tp {margin-top: 20px;}
.pad18tp {margin-top: 18px;}
.pad17tp {margin-top: 17px;}
.pad16tp {margin-top: 16px;}
.pad15tp {margin-top: 15px;}
.pad13tp {margin-top: 13px;}
.pad12tp {margin-top: 12px;}
.pad10tp {margin-top: 10px;}
.pad9tp {margin-top: 9px;}
.pad8tp {margin-top: 8px;}
.pad6tp {margin-top: 6px;}
.pad5tp {margin-top: 5px;}
.pad4tp {margin-top: 4px;}
.pad3tp {margin-top: 3px;}
.pad2tp {margin-top: 2px;}/* used for chkbx lables */
.pad1tp {margin-top: 1px;}
.pad40bm {padding-bottom: 40px;} /* carful with these few that are "padding" as "padding" is different from "margin" */
.pad30bm {padding-bottom: 30px;}
.pad20bm {padding-bottom: 20px;}
.pad15bm {padding-bottom: 15px;}
.pad10bm {padding-bottom: 10px;}
.pad6bm {margin-bottom: 6px;}
.pad5bm {margin-bottom: 5px;}
.pad3bm {margin-bottom: 3px;}
.pad2bm {margin-bottom: 2px;}
