.footerCont { /* mobile */
	top:-10px;
	height:10px;
}

.footer_txt { /* mobile */
	width:100%;
	padding:0px 0px 0px 0px;
}


#main { /* mobile */
	position:relative;
	float:left;
	display:inline-block;
	width:100%;
	min-width:1020px;
	min-height:575px;
	background-color:#fff;
	overflow-y:visible;
	overflow-x:hidden;
}

#mainCont { /* mobile */
	position:relative;
	margin:auto;
	min-width:756px;
	width:100%;
	min-height:576px;
 	height:100%;
	background-color:#bed6f8;
	margin-top:55px;
	overflow-y:visible;
	overflow-x:hidden;
	border-left:none;
	border-right:none;
}


#ctrCont { /* mobile */
	position:relative;
	float:left;
	display:block;
	width:100%;
	height:100%;
	min-height:498px;
	top:-3px;
	background-image:url(../i/bk_crossHatch.gif);
	margin-right:2px;
	padding-left:1px;
	padding-bottom:35px;
	overflow:hidden;
}


#pnlFull { /* mobile */
	position:relative;
	margin:auto;
	width:99%;
	height:100%;
	left:-4px;	
}

.pad-144lt {margin-left:-144px;} /* mobile */


.sb_pan, .sb_panr {/* mobile */
overflow-y:visible;
overflow-x:visible;
border-top:1px solid #a3a3a3;
border-left:0px solid #a3a3a3;
border-right:0px solid #a3a3a3;
background:#fff;
position:relative;
min-height:270px;
height:100%;
}