/* This file contains styles used only by the stripboardeditm.xhtml page (Stripboard editor). */

/* set ul - child of strip list - to 98% to fill div that we resize. */
.if-list.if-mini.ui-widget > ul {
	height: 98%;
}
/* force div containing strip list to 100% height - to match resized div (this one's parent) */
.if-list.if-mini.ui-widget {
	height: 100%;
	width: 100%;
}

#sbEditTopOptions {
	height:29px;
	width:975px;
	top:5px;
	margin:auto;
	margin-top: 7px;
}

#sbEditTopOptions .fdNm_sm,
#sbEditTopOptions .fd_sm,
#sbEditTopOptions .fd,
#sbEditTopOptions .fd_xlg,
#sbEditTopOptions .fdNm,
#sbEditTopOptions .fd_lg,
#sbEditTopOptions .fdNm_lg {
	position:relative;
	float:left;
	color:#000;
	line-height:12px;
	height:14px;
	left:0px;
	font-weight:normal;
}

#sbEditTopOptions .fdNm {
	width:70px;
	font-weight:bold;
}

#sbEditTopOptions .fdNm_sm {
	width:45px;
	font-weight:bold;
}

#sbEditTopOptions .fdNm_lg {
	width:100px;
	font-weight:bold;
}

#sbEditTopOptions .fd_sm {width:25px;}
#sbEditTopOptions .fd_lg {width:90px;}
#sbEditTopOptions .fd_xlg {width:200px;height:14px;line-height:14px;}
#sbEditTopOptions .fd {width:80px;}

.whiteBkHdg {background:#fff;}

.hdrUnitIcon {
	min-width:26px;
}

.hdrUnitNumber {
	color: #007fff;
	float:left;
	font-size: 14px;
	line-height: 15px;
	margin-left: 8px;
	margin-top: 2px;
}

.pnlHdrTxt {
	min-height:27px; /* global is 25px */
}

.centerFullTb2 {
	position:relative;
	width:975px; /* global is 915px? */
}

.W240 {width:240px;} /* useful with fields layout */
.T1 {top:1px;}

.top_fdNm {
	color:#aec7ea;
	font-size:12px;
	font-weight:bold;
}

/* Left Panel Lists share these classes */
.bk_sl_gridScrlBdyTbl {
	width:100%;
	border-collapse:collapse;
}

/*  right panel controls div */
.tblCtrls {
	margin-bottom:2px;
	margin-left:10px;
}
.tblCtrlsLeft {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
}

#sbSchStripsLt {
	position:relative;
	margin-top:13px;
	margin-bottom:5px;
	background-image:url(../i/bk_lightestBlue1x1.jpg);
	background-repeat:repeat;
	z-index:1;
	min-height:324px;
	width:480px; /* careful here, one pixel can break IE8 */
	border:1px solid #bed6f8;
	padding-right:0px;
	padding-left:0px;
}

#sbSchStripsRt {
	position:relative;
	margin-top:13px;
	margin-bottom:5px;
	background-image:url(../i/bk_lightestBlue1x1.jpg);
	background-repeat:repeat;
	z-index:1;
	min-height:324px;
	width:480px; /* careful here, one pixel can break IE8 */
	border:1px solid #bed6f8;
	padding-right:0px;
	padding-left:0px;
}

#sbLegendHdg {
	width:100px;
	margin-left:5px;
	top:-12px;
	padding-left:2px;
	background:#fff;
	z-index:1;
	color:#1369b4;
}

#sbSchStripsLt .iceDatTblColGrpHdrRow th,
#sbSchStripsRt .iceDatTblColGrpHdrRow th {
	border:0px solid #ccc;
	border-collapse:collapse;
}

#sbSchStripsLt .iceDatTbl,
#sbSchStripsRt .iceDatTbl {
	border:1px solid #ccc;
}

#sbSchStripsLt .grid1eScrlHdrTbl th,
#sbSchStripsLt .grid1eScrlHdrTbl,
#sbSchStripsRt .grid1eScrlBdyTbl th,
#sbSchStripsRt .grid1eScrlBdyTbl {
	position:relative;
	float:left;
	width:100%;
	border:0px solid #ccc;
}

#sbSchStripsLt .iceDatTblColGrpHdrRow {
	background-image: url(../i/bk_dataHdrGry1x26.gif);
	background-repeat: repeat-x;
	background-position: -3px;
	line-height: 20px;
	padding: 0px;
	text-align: left;
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

#sbSchStripsRt .iceDatTblColGrpHdrRow {
	background-image: url(../i/bk_dataHdrGry1x26.gif);
	background-repeat: repeat-x;
	background-position: -3px;
	height: 20px;
	padding: 0px;
	text-align: left;
	width: 100%;
	border: 0px solid #ccc;
	border-collapse: collapse;
}

/* supress icon for sort on the stripboardedit pg */
#sbSchStripsLt .iceCmdSrtHdr,
#sbSchStripsRt .iceCmdSrtHdr {
	position:relative;
	text-decoration:underline;
	color:#1369b4;
	text-align:left;
	left:0px;
  line-height:20px;
}

#sbSchStripsRt .iceCmdSrtHdr:hover {
	text-decoration:none;
	color:#e27125;
	text-align:left;
  line-height:20px;
}

#sbSchStripsRt .iceDatTblActvSrtHdr a:link {
	text-decoration:none;
	color:#e27125;
	cursor:default;
	margin-top:-2px;
	text-align:left;
  line-height:20px;
}

#sbSchStripsLt .iceCmdSrtHdr-dis,
#sbSchStripsRt .iceCmdSrtHdr-dis {
	text-decoration:none;
	color:#e27125;
	text-align:left;
  line-height:20px;
}

#sbSchStripsRt .iceCmdSrtHdrAsc {
	color:#e27125;
	margin-top:-3px;
	text-align:left;
	background-image:none;
	background-repeat:no-repeat;
}
#sbSchStripsLt .iceCmdSrtHdrDesc,
#sbSchStripsRt .iceCmdSrtHdrDesc {
	color:#e27125;
	margin-top:-3px;
	text-align:left;
	background-image:none;
	background-repeat:no-repeat;
}

.autoSchedCont .radioTxtLbl,
.autoSchedCont .radioTxtLbl-dis {
	position:relative;
	line-height:19px;
	height:22px;
	vertical-align:top;
}
.autoSchedCont .ice-ace-radiobuttons {
	text-align: left;
}
.ice-ace-radiobutton label {
	margin-left: 5px;
}

/* keep these together */
/* Strip colors, based on database id #. See "LS eps Test Data..." xls file, "standard data" sheet. */

.xEND_STRIPBOARD {
	position:relative;
	float:left;
	color:#cc6600;
	font-weight:bold;
	background-image:url(../i/bk_endRowSpBd.gif);
	background-repeat:repeat-x;
	background-position:10px -5px;
	height:32px;
	width:100%;
	text-align:center;
	padding-top:16px;
	font-style:italic;
}

.w100 {width:100%;}
.w250px {width:250px;}

.g2, .g2 td {
font-family: "Courier New";
	border-style: none; /* supplies borders of list items */
	border-width: 1px;
	border-bottom: 1px solid #808080;
	padding: 0px;
	font-size: 12px;
	cursor: move;
	border-collapse: collapse;
	/* float:left; breaks drag&drop */
	zoom: 1; /* fix some IE7 drag'n'drop problems */
	display: inline-block;
}

.g2 th {
	border-style: solid none none solid;
	font-weight: normal;
	height: 16px;
	padding: 0px;
	padding-left: 0px;
	color: #314664;
	background: #cdf4f4;
	font-size: 12px;
	cursor: auto;
}

.g2 td, .bk_sl_grid td { /* affects drag'n'drop source strips - banner/EOD */
	border-style: none;
	height: 16px;
	line-height: 14px;
	padding: 0px;
	white-space: nowrap;
}

.st_sel { /* style for selected strips in multi-select editor */
	border-color: #ff0000;
	color: #ff0000;
}

.st_sel_above { /* style for strip ABOVE selected strips in multi-select editor */
	border-color: #ff0000;
}

.sb_pan, .sb_panr {
	overflow-y: hidden;
	overflow-x: hidden;
	border-top:1px solid #a3a3a3;
	border-left:0px solid #a3a3a3;
	border-right:0px solid #a3a3a3;
	background:#fff;
	position:relative;
	min-height:270px;
}

.sc_o {
	background: red;
	color: #fff;
}

.sc_os {
	background: red;
	color: #000;
}

.h_a, .h_a tr {
	height: 15px;
	vertical-align: middle;
}

.h_b {
	height: 30px;
}

.c_s, .c_i, .c_d, .c_y, .c_p, .c_l, .c_lr, .c_c, .c_b, .c_br, .c_el,
	.c_elr, .c_ep, .c_er {
	position: relative;
	float: left;
	border: 1px #a3a3a3;
	border-style: none none solid solid;
	padding-left: 0px;
	height: 100%;
}

.c_s, .c_i, .c_d, .c_y, .c_p, .c_b, .c_br {
	text-align: center;
}

.c_s, .c_b, .c_br { /* Scene column and banners */
	border: 1px #a3a3a3;
	border-style: none none solid solid;
	/* left border and bottom border of list rows  */
	width: 36px;
}

.c_i { /* I/E column */
	width: 24px;
}

.c_d { /* D/N column */
	width: 24px;
}

.c_y { /* script-day column */
	width: 50px;
}

.c_l, .c_lr { /* location column - left & right */
	text-align: left;
	width: 189px;
}

.c_p, .c_ep { /* page length column */
	width: 56px;
}

.c_c, .c_er { /* cast ids, EOD date */
	text-align: left;
	float: left;
	width: 70px;
}

.c_b, .c_br { /* banner */
	width: 463px;
	display: table; /* to get vertical centering */
}

.c_b span, .c_br span {
	display:table-cell;
	vertical-align:middle; /* to get vertical centering */
}
.c_br { /* banner in right list */
	width:459px;
}
.c_t, .c_el, .c_elr, .c_ep, .c_er {
	font-family:Courier New;
	font-size:8pt;
/*border-bottom:1px solid #808080;  moved to 'g2' */
}
.c_ep, .c_er {
	display:table;
}
.c_ep span, .c_er span {
	display:table-cell;
	vertical-align:middle; /* to get vertical centering */
	text-align: center;
}
.c_t {
	white-space:pre;
}
.c_el, .c_elr { /* EOD, left part, for left or right lists */
	text-align:center;
	width:342px;
}
.c_ep { /* EOD, page length */
	width:47px;
}
.c_el, .c_elr, .c_ep, .c_er {
	font-weight:bold;
	border-bottom: none;
}
.c_th { /* changed in xhtml to 8px for thick mode */
	top: 0px;
}
.hide_row td, .hide_row tr { /* to hide empty row beneath col headers */
	height:0px;
	border:0px;
}
#left_list, #right_list {
	min-height:259px;
	width:100%;
}

/* Banner panel - where 'new banner' and 'new EOD' strips are shown */
.bannerPnl {
	float: left;
	position: relative;
	top: -6px;
	height: 38px !important;
	width: 460px !important; /* need to override 100% in our .if-mini setting */
	display: inline;
	overflow: hidden !important;
	margin-left: 10px;
	background:url(../i/bk_lightestBlue1x1.jpg); /* preserve blue background when panel is 'thin' */
}
.bannerPnlStrip {
	float: left;
	width: 230px;
	margin-top: 0px;
}
.if-list.if-mini.ui-widget .bannerPnlStrip.if-list-item  {
	padding: 0px; /* ice4 - remove default left padding on item */
	margin: 0px;  /* and margins */
}

/* ice4 ace:list item class for strips */
.if-list.if-mini.ui-widget .sbStrip.if-list-item  {
	padding: 0px; /* ice4 - remove default left padding on item */
	margin: 0px;  /* and margins */
}

.eob {position:relative;height:200px;}

/* auto schedule popup */

.autoschedCont .popup_main {
	position:bottom;
	float:left;
	top:5px;
	height:320px; /* 115 default in global */
	background:transparent;
	width:100%;
	margin:auto;
	padding:0px;
	overflow:hidden;
}

.autoschedCont .popup_main {
	top:0px;
	height:340px; /* 115 default in global */
}

.popAutoSchedBdy {
	z-index:1004;
	height:auto;
	width:520px;
	position:relative;
	float:left;
	left:0px;
	top:0px;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	color:#000;
}

.autoSchedCont {
	position:relative;
	width:95%;
	margin:auto;
	padding-top:0px;
}
.popupAutoSched {
	z-index:1000;
	width:540px;
	padding:0px;
	border:none;
	background-color:transparent;
	background-image:url(../i/bk_pop.gif);
	background-repeat:repeat;
	height:438px;
}

/* end auto schedule popup */

.ckbxTxtLbl {
	position:relative;
	line-height:18px;
	height:16px;
	color:#000;
	font-weight:normal;
	top:-1px;
}
