WebRoot/WEB-INF/classes/
!external/*.dll
target/
bin/
WebRoot/resources/stripboardm.js
WebRoot/resources/script_m.js
WebRoot/resources/script_desktop.js
WebRoot/resources/global_tm.css
WebRoot/resources/script_mobile.js
WebRoot/resources/script.js
WebRoot/resources/css_browser_selector.js
WebRoot/resources/stripboard.css
WebRoot/resources/script_common.js
WebRoot/resources/global.css
WebRoot/resources/stripboard_m.css
WebRoot/resources/global_m.css
WebRoot/WEB-INF/web-local.xml
src/rebel.xml
src/log4j-local.properties
